<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/testresult.css' %}">
    <title>Test Result</title>
</head>
<body>
    <div class="menu">
        {% if request.session.role == "ADMIN" %}
        <a href="http://localhost:8000/OTS/newQuestion/">New Question</a>
        <a href="http://localhost:8000/OTS/viewQuestion/">View Question</a>
        {% endif %}
        {% if request.session.role == "LEARNER" %}
        <button>
            <a href="http://localhost:8000/OTS/starttest/">Start Test</a>
        </button>
        {% endif %}
    </div>
    <h1>TEST RESULT</h1>
    <table>
        <tr>
            <th>Total Attempt</th>
            <td>{{total_attempt}}</td>
        </tr>
        <tr>
            <th>Total Right</th>
            <td>{{total_right}}</td>
        </tr>
        <tr>
            <th>Total Wrong</th>
            <td>{{total_wrong}}</td>
        </tr>
    </table>
    
</body>
</html>